* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

#curtain {
	position: absolute;
	max-width: 100%;
	height: 100%;
	transition: transform 0.2s ease-in-out;
	z-index: 100;
	cursor: pointer;
	
	object-fit: cover;
	object-position: center;
}

#lamp-div {
	cursor: pointer;
	position: absolute;
	left: 0; 
	right: 0;
	margin-top: 3em;
	margin-left: auto; 
	margin-right: auto; 
	width: 100px;
}

#lamp-div>img {
	position: absolute;
	width: 100%;
	-webkit-user-drag: none;
}

#light-trapezoid {
	pointer-events: none;
	position: absolute;
	border-bottom: 600px solid #ffff00;
	border-left: 290px solid transparent;
	border-right: 290px solid transparent;
	height: 88.5px;
	width: 70.8px;
	left: calc(50% - 323px);
	opacity: 0%;
	
}

#witch {
	position: absolute;
	width: 300px;
	top: 460px;
	left: calc(50% - 210px);
	opacity: 0%;
}

#hat {
	position: absolute;
	width: 140px;
	top: 560px;
	left: calc(50% + 30px);
	opacity: 0%;
	cursor: pointer;
}

#bunny {
	position: absolute;
	width: 50px;
	top: 575px;
	left: calc(50% + 70px);
	opacity: 0%;
}

#dove {
	position: absolute;
	width: 50px;
	top: 575px;
	left: calc(50% + 70px);
	opacity: 0%;
}